

body {
    font-family: Helvetica;
    padding:0px;
    margin:0;  
    background:rgba(197, 181, 157, 0.836);
    color:white;
}

// #user-profile {
//     font-size:40px;
//     display:inline-block;
//     margin-top:20px;
//     color:black;
//     border-bottom:5px solid black;
//     padding: 20px 40px 20px 0px;
//     font-weight:bold;
// }

// .subtitle {
//     padding-top:10px;
//     font-size:20px;
// }

.flex-title {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    
    span {
      white-space: nowrap;
    }
    .title-main {
      flex-grow: 1;
    }
}

.title {
    border-bottom: 1px solid white;
    width:78%;
    margin: 40px auto;
    font-size:40px;
    font-weight:bold;
    padding-bottom:30px;
    text-transform:lowercase;
}
.title-note {
    font-size: 50%;
    font-weight:normal;
    text-transform:lowercase;
}

#user-profile img {
    width:100px;
    height:100px;
    display:inline-block;
}

#top-container {
    flex-basis: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    margin-top:20px;
}

#collage-container {
    width: 520px;
    height: 520px;
    flex-basis: 1;
}


#collage-title {
    font-size:20px;
    display: inline-block;
}

.artwork {
    width: 130px;
    height: 130px;
    float: left; //removes spacing around images
}

#overlay {
    opacity:0;
    width:500px;
    height:500px;
    color:white;
    font-size:18px;
    background:rgba(0, 0, 0, 0.6);
    position:absolute;
    text-align: right;
    // vertical-align: middle;
    padding: 20px 20px 0px 0px;
    transition: .3s ease-out;
    text-transform:lowercase;
    line-height:12px;
    font-family:'Times New Roman', Times, serif;
}

#overlay:hover {
    opacity:1;
    transition: .3s ease-out;
}

#time-range-select {
    display: inline-block;
    background:none;
}

#time-range-select select {
    font-size:20px;
    border:none;
    background:none;
    color: white;
    border-bottom:1px solid white;
}

select, option {
    outline: 0; // removes selection when clicking on dropdown
    background: rgba(197, 181, 157, 0.836);
}


@media (max-width: 1100px) {
    #collage-container {
        width:500px;
    }

    .artwork {
        width:120px;
        height:120px;
    }

    #overlay {
        width: 460px;
        height: 470px;
        padding-top:10px;
    }
}




